<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.deutsch-programming</string>
	<key>CFBundleName</key>
	<string>Deutsch - Programming</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>KLInfo_Deutsch - Programming</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.deutsch-programming.deutsch-programming</string>
		<key>TISIntendedLanguage</key>
		<string>de-DE</string>
	</dict>
</dict>
</plist>
